@charset "utf-8";
/* CSS Document */

.logo{
	width: 5%;
}


.titulo-cabe{
	font-weight:bold;
	font-size:25px;
	vertical-align:middle;
}

li {
    list-style: none;
}

h1{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 4%;
}

h4{
	text-align:right;
	padding-bottom: 2%;
	padding-top:4%;
}

h3{
	text-align:justify;
}

.fotos-produtos{
	max-width: 30%;
    height: auto;
}

label.ui-input-text,span#spryconfirm1 {
    font-weight: bold !important;
}

