body
{
	background-color:#81BEF7;
}

h1
{
	text-align:center;
	color:#ff0000;

 }

 
 label
 {
		font-weight: bolder;
 }
 
 
.radio
{
	margin-left:5%;
	margin-top:2%;
}


#cabeca
{
	heidth:80%;
	margin-left:15%;
	margin-top:2%;
	margin-right:15%;
	margin-bottom:2%;
	background-color:#E0ECF8;
	padding: 1% 2% 3% 3%;	
	width:65%;	
}



input 
{
	text-transform:uppercase;
	margin-bottom:2%;
	margin-left: 2%;	
	margin-bottom:2%;
	
}

a {   
    text-decoration: none;
}