<br>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <ul >
      <li ><a href="index.php">home</a> </li>
      <li><a href="catalogo2.php">catalogo</a> </li>
      <li><a href="login.php">login</a> </li>
    </ul>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <ul>
      <li><a href="cadastro_cliente.php">cadastrar cliente</a></li>
      <li><a href="cadastro_produto.php">cadastro produto</a></li>
    </ul>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <ul>
      <li><a href="consultar_oferta.php">Consultar Oferta</a></li>
      <li><a href="indicar_oferta.php">indicar oferta</a></li>
    </ul>
  </div>
</div>
<!--/section--> 
